<section id="Books">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a <a target="_blank" href="https://www.amazon.com/gp/product/111866146X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=111866146X&linkCode=as2&tag=sociall1-20&linkId=0c0e9421a65c9e4debadcc9155a10ee9">Data Smart: Using Data Science to Transform Information into Insight</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sociall1-20&l=am2&o=1&a=111866146X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a href="#">The Data Lab Podcast</a></strong>
			- An eripuit phaedrum qui, nec facer splendide ex, vel ea assum facilisi convenire.
			Te his neglegentur consectetuer.
		</h5>
    	<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a href="#">Coffee, Wine, Data, Design</a></strong>
			- An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
		</h5>
    <h5>
    <i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a href="#">Confederat Monuments</a></strong>
    - An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
  </h5>



    </div>
  </div>
</div>
</section>
