<section id="Books">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a href="#">The Social Larsons</a></strong>
			- My wife and I  enjoy writing about how we use data in everyday life. We share aniqdotes about our family and what we are doing.
		</h5>
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a href="#">The Data Lab Podcast</a></strong>
			- An eripuit phaedrum qui, nec facer splendide ex, vel ea assum facilisi convenire.
			Te his neglegentur consectetuer.
		</h5>
    	<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a href="#">Coffee, Wine, Data, Design</a></strong>
			- An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
		</h5>
    <h5>
    <i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a href="#">Confederat Monuments</a></strong>
    - An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
  </h5>



    </div>
  </div>
</div>
</section>
