<section id="Books">
<div class="container">
  <h3>Books for getting started with Data Science</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong> <a target="_blank" href="https://www.amazon.com/gp/product/111866146X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=111866146X&linkCode=as2&tag=sociall1-20&linkId=0c0e9421a65c9e4debadcc9155a10ee9">Data Smart: Using Data Science to Transform Information into Insight</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sociall1-20&l=am2&o=1&a=111866146X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </h5>
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a target="_blank" href="https://www.amazon.com/gp/offer-listing/1491910399/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1491910399&linkCode=am2&tag=sociall1-20&linkId=3397e5963e87bf06b366818b250950ca">R for Data Science: Import, Tidy, Transform, Visualize, and Model Data</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sociall1-20&l=am2&o=1&a=1491910399" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</h5>

  
  <h3>Math books for data science</h3>
      <h5>
        <i class="fa fa-book"></i>&nbsp;&nbsp;<strong> <a target="_blank" href="https://www.amazon.com/gp/offer-listing/0262035618/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0262035618&linkCode=am2&tag=sociall1-20&linkId=3794340e4e6b3592a6401f2aac4755f1">Deep Learning (Adaptive Computation and Machine Learning series)</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sociall1-20&l=am2&o=1&a=0262035618" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </h5>

  <h3>What is Data Science</h3>
    <h5>
      <i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a target="_blank" href="https://www.amazon.com/gp/offer-listing/B00JOFS5MM/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00JOFS5MM&linkCode=am2&tag=sociall1-20&linkId=daa2d5b475cd1565f7e00b310f491115">Data-ism: The Revolution Transforming Decision Making, Consumer Behavior, and Almost Everything Else</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sociall1-20&l=am2&o=1&a=B00JOFS5MM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </h5>

  <h3>Other formative books</h3>
    <h5>
      <i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a target="_blank" href="https://www.amazon.com/gp/offer-listing/038534645X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=038534645X&linkCode=am2&tag=sociall1-20&linkId=deb65dd6a041f87e5ec2f5346b7c4757">Scrum: The Art of Doing Twice the Work in Half the Time</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sociall1-20&l=am2&o=1&a=038534645X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  <h3>Novels I Love</h3>


    </div>
  </div>
</div>
</section>
