<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-podcast"></i>&nbsp;&nbsp;<strong><a href="http://www.thedatalab.io">The Data Lab Podcast</a></strong>
			- Listen in as we break down the ins and outs of modern data science. With the help of guests from across the
      data landscape, hosts Patrick Callahan, Joey Davidson, and Dan Larson dive deep into more than just best practices and
      trending topics. Covering data applications and challenges across different industries from diverse perspectives,
      the pair curates a useful conversation for both the data enthusiast and experienced professional.

      - <strong><a href="https://technical.ly/philly/2017/09/07/data-science-machine-learning-data-lab-podcast/">Technical.ly Philly article</a></strong>
		</h5>

    <h5>
			<i class="fa fa-event"></i>&nbsp;&nbsp;<strong><a href="http://www.thedatalab.io">Data Jawn</a></strong>
			- A data centric event located in Philadelphia. The event aimed to highlight the variety of interesting data working throughout
      the city.

      - <strong><a href="https://technical.ly/philly/2018/04/03/data-jawn-philly-data-event/">Data Jawn, the Philly-centric analytics event, is making a comback</a></strong>
      - <strong><a href="https://technical.ly/philly/2018/05/07/data-jawn-2018-speakers/">At Data Jawn, 12 speakers will share a peek into the local data community</a></strong>
		</h5>


    </div>
  </div>
</div>
</section>
