<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-heart"></i>&nbsp;&nbsp;<strong><a href="http://www.thesociallarsons.com">The Social Larsons</a></strong>
			- My wife and I  enjoy writing about how we use data in everyday life. We share aniqdotes about our family and
      what we are doing. This is the place that we share our family story.

		</h5>
		<h5>
			<i class="fa fa-podcast"></i>&nbsp;&nbsp;<strong><a href="http://www.thedatalab.io">The Data Lab Podcast</a></strong>
			- Listen in as we break down the ins and outs of modern data science. With the help of guests from across the
      data landscape, hosts Patrick Callahan and Dan Larson dive deep into more than just best practices and
      trending topics. Covering data applications and challenges across different industries from diverse perspectives,
      the pair curates a useful conversation for both the data enthusiast and experienced professional.

		</h5>
    	<h5>
			<i class="fa-superpowers"></i>&nbsp;&nbsp;<strong><a href="https://www.coffeewinedata.design/">Coffee, Wine, Data, Design</a></strong>
			- a program of study in the design department with a dual minor in data and coffee, and an extracurricular
      membership in the elite wino society. Our goal is to curate inspiration by sharing the creative work,
      insights, and ideas of our peers. Are you an enthusiastic human? Do you have an interest in good design,
      powerful data, caffeinated beverages, or grown up grape juice? We don’t just want you to read along, we want you in our collective. Join our online collaboration with your design, data set, essay, or review.

		</h5>



    </div>
  </div>
</div>
</section>
