<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-podcast"></i>&nbsp;&nbsp;<strong><a href="http://www.thedatalab.io">The Data Lab Podcast</a></strong>
			- Listen in as we break down the ins and outs of modern data science. With the help of guests from across the
      data landscape, hosts Patrick Callahan and Dan Larson dive deep into more than just best practices and
      trending topics. Covering data applications and challenges across different industries from diverse perspectives,
      the pair curates a useful conversation for both the data enthusiast and experienced professional.
		</h5>



    </div>
  </div>
</div>
</section>
